@font-face {
  font-family: 'DejaVuSansCondensed';
  src: url('./DejaVuSansCondensed.woff2') format('woff2'),
       url('./DejaVuSansCondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVuSansCondensed';
  src: url('./DejaVuSansCondensed-Bold.woff2') format('woff2'),
       url('./DejaVuSansCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVuSansCondensed';
  src: url('./DejaVuSansCondensed-Oblique.woff2') format('woff2'),
       url('./DejaVuSansCondensed-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
